:root{
    --main-emfor-color:#EB880E;
}

.log-btn{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(100deg, #ffdf00, var(--main-emfor-color), #ffdf00);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.log-btn:hover{
    background-position: right;
}

.a-orange{
    color:var(--main-emfor-color) !important;
}

.a-white a {
    color:white !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.child-menu:hover a{
    color:var(--main-emfor-color) !important;
}

ul .child-menu{
    list-style-type: "-";
}

.parent-menu span:hover {
    color:var(--main-emfor-color) !important;
}

.parent-menu span:after{
    font-family: "Font Awesome 5 Free"; font-weight: 600; content: "\f105";
    position: relative;
}

ul .parent-menu{
    list-style-type: none;
}

.parent-menu span{
    display:flex;
    justify-content: space-between;
    margin-right: 10%;
    margin-top: 15px;
}

.active span:after {
    transform: rotate(90deg);
    transition: .3s all;
}

.notactive span:after{
    transform: rotate(-0deg);
    transition: .3s all;
}

.no-decoration {
    text-decoration: none !important;
}

.no-decoration:hover{
    color:white;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-icon{
    color:var(--main-emfor-color) !important;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link .kt-menu__link-icon{
    color:var(--main-emfor-color) !important;
}

.btn-warning{
    color:white;
}

.btn.btn-sm i, .btn-group-sm > .btn i {
    padding-right: 0 !important;
}

.btn i {
    padding-right: 0 !important;
}

.no-border-top {
    border-top: 0px !important;
}

.red {
    color: #fc3903;
}

.green {
    color: #2ad13b;
}

.rotated {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.btn-outline-hover-menu {
    color: #494b74;
}

.show > .btn-outline-hover-menu, .btn-outline-hover-menu.active, .btn-outline-hover-menu:active, .btn-outline-hover-menu:hover {
    color: var(--main-emfor-color);
    border-color: transparent;
    background-color: transparent;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol > li {
    cursor:pointer;
    margin: 5px;
    list-style-type: none;
    border:solid 1px;
}

ol > li > span {
    font-size: x-large;
    padding-left: 5px;
    padding-right: 5px;
}

ol > li.placeholder {
    position: relative;
}

.nested_with_switch {
    border:solid 1px;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

