{% block upload_file_widget %}
    {% set pathDelete = app.request.attributes.get('_route')|split('_')|slice(0,-1)|join('_') %}
    <div class="row">
        <div class="col-md-9">
            {{ form_widget(form) }}
        </div>
        <div class="col-md-3">

            {% if attribute(form.parent.vars['value'], form.vars.name) is defined and attribute(form.parent.vars['value'], form.vars.name) is not empty %}

                <div id="{{ form.vars.name }}">
                    {{ attribute(form.parent.vars['value'], form.vars.name) }}
                    <a href="{{ asset('data/'~ attribute(form.parent.vars['value'], form.vars.name)) }}" target="_blank">
                        <div style="width: 100px; height: 100px; background-size: contain; background-position: center center;background-repeat: no-repeat;background-image:url({{ asset('data/'~ attribute(form.parent.vars['value'], form.vars.name)) }});"></div>
                    </a>

                    <a class="deleteUploadedElement" data-target="{{ form.vars.name }}" data-remove-target="{{ form.vars.name }}"
                       delete-path="{{ path(pathDelete~'_removefile', {id: app.request.attributes.get('id') ? app.request.attributes.get('id') : app.user.id , nameInput: form.vars.name}) }}"><i class="fas fa-times"></i>
                    </a>

                </div>

            {% endif %}
        </div>
    </div>
{% endblock %}

{% block upload_files_widget %}
    {{ form_widget(form) }}
{% endblock %}
