{% extends 'base.html.twig' %}

{% set dataFiles = []|json_encode() %}
{% if dataFichiers is defined and dataFichiers is not empty %}
    {% set dataFiles = dataFichiers %}
{% endif %}

{% block title %}{{ (app.request.get('id')) ? 'Modifier' : 'Nouveau' }} {{ page }}{% endblock %}

{% block subheader_breadcrumb %}
    <h3 class="kt-subheader__title">
        <a href="{{ path( routeName ~ "_" ~ page ~ '_index' ) }}" >{{page|capitalize}}</a>
    </h3>
{% endblock %}

{% block subheader_toolbar %}
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <a href="{{ path( routeName ~ '_' ~ page ~ "_index") }}" class="btn btn-primary">Retour</a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="kt-portlet container">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h2 class="kt-portlet__head-title">
                        {% block containerTitle %}{{ (app.request.get('id')) ? 'Modifier' : 'Nouveau' }} : {{ page }} {{ (app.request.get('id')) ? '- ' ~ entity.Id }}{% endblock %}
                    </h2>
                </div>
            </div>

            <div class="kt-portlet__body">
                {% if onglets is defined and onglets is not empty and app.request.get('id') %}
                    {% block onglet %}
                        <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-left nav-tabs-line-primary" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#general">Modification de {{ page }}</a>
                            </li>
                            {% for index, onglet in onglets %}
                                {% if app.request.get('id') %}
                                    <li class="nav-item">
                                        {% if onglet.template is not defined or onglet.template is null %}
                                            <a class="nav-link" data-toggle="tab" href="#ongl_{{ (onglet.id is defined) ? onglet.id : '' }}" data-id="{{ (onglet.id is defined) ? onglet.id : '' }}" data-url="{{ (onglet.route is defined ) ? path(onglet.route, {'id':app.request.get('id'), 'ongl':index}) : '' }}">{{ (onglet.title is defined) ? onglet.title : '' }}</a>
                                        {% else %}
                                            <a class="nav-link" data-toggle="tab" href="#ongl_{{ onglet.id }}">{{ onglet.title }}</a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endblock %}
                {% endif %}

                <div class="tab-content">
                    <div class="tab-pane active" id="general" role="tabpanel">
                        {% block form %}
                            {% form_theme form with ['@Admin/Theme/Form/common.html.twig','Theme/Form/Crud/common.html.twig'] %}
                            {{ form_start(form) }}
                            {% if check_action.checkRuleFonctionnalite(entityName|upper, 2) == false %}
                                {% do form.enregistrer.setRendered() %}
                            {% endif %}
                            {{ form_end(form) }}
                        {% endblock %}
                    </div>

                    {% if check_action.checkRuleFonctionnalite(entityName|upper, 1) or check_action.checkRuleFonctionnalite(entityName|upper, 2) %}
                        {% if onglets is defined and onglets is not empty and app.request.get('id') %}
                            {% for index, onglet in onglets %}
                                {% if onglet.template is not defined or onglet.template is null %}
                                    <div class="tab-pane" id="ongl_{{ (onglet.id is defined) ? onglet.id : '' }}" role="tabpanel"></div>
                                {% else %}
                                    <div class="tab-pane" id="ongl_{{ (onglet.id is defined) ? onglet.id : '' }}" role="tabpanel">
                                        {{ include(onglet.template) }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
    {# Ne pas oublier #}
    <script>
        var dataFichiers = {{ dataFiles|raw }};
    </script>
{% endblock %}