<div id="collapse_filtres" class="collapse">
    <form id="filtre" style="margin-left: 15px; margin-top: 15px;">

        <div class="row">
            {% for index, filtre in filtres %}


            {% if filtre.opts.new_line is defined and filtre.opts.new_line == 1 %}
        </div><div class="row">
            {% endif %}

            {% if filtre.opts.new_line is not defined or filtre.opts.new_line == 0 and filtre.opts.col_size is defined %}
                <div class="col-md-{{ filtre.opts.col_size is defined ? filtre.opts.col_size : '3' }}">
                    {{ form_row(attribute(formFiltres, index)) }}
                </div>


            {% elseif filtre.opts.new_line is defined and filtre.opts.new_line == 1 and filtre.opts.new_line is not empty and filtre.opts.col_size is not defined %}
                <div class="col-md-3">
                    {{ form_row(attribute(formFiltres, index)) }}
                </div>


            {% else  %}
                <div class="col-md-{{ filtre.opts.col_size is defined ? filtre.opts.col_size : '3' }}">
                    {{ form_row(attribute(formFiltres, index)) }}
                </div>

            {% endif %}

            {% endfor %}
        </div>


    </form>

    <div class="row d-flex justify-content-center" style="margin: 0 auto; margin-bottom: 10px;">
        <button class="formFiltreReset btn btn-sm btn-label-brand btn-bold" style="margin-right: 10px;">Reset</button>
        <button id="filtrer" class="btn btn-sm btn-label-brand btn-bold" style="padding-left: 28px; padding-right: 28px; padding-bottom: 12px; padding-top: 12px;">Filtrer</button>
    </div>
</div>



