{% extends '@Admin/edit.html.twig' %}

{% block title %}Nouveau {{ page }}{% endblock %}

{% block subheader_breadcrumb %}
	<h3 class="kt-subheader__title">
		<a href="{{ path( "app_admin_" ~ page ~ '_index' ) }}" >{{page|capitalize}}</a>
	</h3>
	<span class="kt-subheader__separator kt-hidden"></span>
	<div class="kt-subheader__breadcrumbs">
		<span class="kt-subheader__breadcrumbs-separator"></span>
		<a href="#" class="kt-subheader__breadcrumbs-link">Edition</a>
	</div>
{% endblock %}



{% block containerTitle %}Création : {{ page }}{% endblock %}



